head
    meta(charset='UTF-8')
    title Title
    link(href="./style/app.styl" rel="stylesheet")
    body
        .frame
            include components/globals/menu
            include components/globals/footer
        script(type="text/javascript" src="./index.ts")
