head
    meta(charset='UTF-8')
    title Title
    body
        .frame
            include components/globals/menu
            include components/globals/footer
        script(type="text/javascript" src="./index.ts")
