footer
    p
        a(href="") Download CV
        b &nbsp;&#8226;&nbsp;
        a(href="https://github.com/Catrionaa") Github
        b &nbsp;&#8226;&nbsp;
        a(href="https://www.linkedin.com/in/catriona-armstrong-ba6737103/") Linkedin
