footer
  text-align center
  set-font-size(25px)


  p
    text-transform uppercase
    set-font-size(25px)

    a
      text-transform uppercase
      text-decoration none
      color $primary

      &:hover
        color $highlight

      &:active
        color darken($highlight, 15)
