.menu
  nav, ul
    position absolute
    top -21px
    right 0
    @media (max-width: 992px)
      text-align: center;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      width: 100%;

    a
      set-font-size(25px)
      text-transform uppercase
      text-decoration none

  nav > a
    color $primary
    @media (min-width: 993px)
      margin 0 4vw

    &:hover
      color $highlight

    &:active
      color darken($highlight, 15)


  ul
    @media (max-width: 992px)
      top -17px
    @media (min-width: 993px)
      top -16px

    > a
      margin 0 2vw
      border-top 1px solid $main-background
      color transparent
      padding 0 2vw
      -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
      -khtml-user-select: none; /* Konqueror HTML */
      -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
      user-select: none;
